$bg-main: #598970;
$secondary: #20c997;

#horizontal {
  background-color: $bg-main;
}

// .center-img {
//   display: flex;
//   justify-content: space-evenly;  
// }

// .center-img {
// }

body, html {
  height: 100%;
  margin: 2;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg-main;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: auto;
  width: 100%;
 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
// .img1 { background-image: url("/US-History-Project/images/background-image.jpeg"); }
// .img2 { background-image: url("/US-History-Project/images/bus.jpg"); }
// .img3 { background-image: url("/US-History-Project/images/on-the-bus.png"); }
// .img4 { background-image: url("/US-History-Project/images/rosa-parks.png"); }
// .img5 { background-image: url("img_forest.jpg"); }
// .img6 { background-image: url("img_woods.jpg"); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


// Then add additional custom code here